<style>
td,th {
    padding: 10px;
}
</style>
<%- include('../../common/header') %>
<section class="center-wr" style="margin-top:77px;">
<div class="row page-wraper">
  <div class="col-md-12 full-content-wraper">
    <div class="title-header"><h1 class="cmn-heading"><%= title.replace(/\w/, c => c.toUpperCase()) %></h1></div>
    <% if(msg) { %> <div  class="alert alert-success" id="alertmsg" ><span class="cmn-message"><%= msg %></span></div><% } %>
    <div class="col-md-2 sidebar-menu">
    <%- include('../../common/sidebar_common') %>
    </div>
     <div class="col-md-5 content-wraper"> 


      <table border="2" cellspacing="5" cellpadding="5">
        <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Add Item</th>
        <th>Delete</th>
        </tr>
        <% for(var portfolio of pagedata) { %>
           <tr>
              <td> 
              <% if (pagedata) { %><%= portfolio.title %><% } %>
              </td>
              <td> 
                <img src="<% if (pagedata) { %><%= portfolio.image %><% } %>"  width="100px" height="100px"/>
              </td>
              <td> 
              <button><a href="/portfolioitem/<%= portfolio._id %>">Add Portfolio</a></button>
              </td> 
              <td> 
  
              <a href="/portfolioremove/<%= portfolio._id %>" title="X" class="delete" onclick="return confirm('Are you sure you want to delete this item')">X</a>
              </td>
              </tr>
        <% } %>
        </table>

     </div>
     <div class="col-md-4 form-wraper">
      <!-- <div id="portfoliomainform"> -->
      <form method="POST" action="/portfolio" enctype="multipart/form-data">
        <label>Name:<input type="text" name="title"   required></label>
        <br>
        <label>Description:<br><textarea name="description"></textarea></label>
        <br>
         <input type="hidden" name="oldimage">
        <input type="file" name="userPhoto" id="" placeholder=""  style="border:none;width:100%;">
        <br>
        <input type="submit" value="Submit">
      </form>
    <!-- </div> 
    <div id="portfolioitemform">

      
    </div> -->

        
     </div>
  </div>
</div>

</section>
