<%- include('../../common/sidebar_common') %>
<div class="layout-page">
  <%- include('../../common/header_new') %>

  <div class="content-wrapper">
    
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
      </h4>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link form-toggle active" data-tab="#acountForm" id="account" href="javascript:void(0);">Edit</a></li>
            <li class="nav-item"><a class="nav-link form-toggle active" data-tab="#editForm" id="accounteditform" href="javascript:void(0);">View</a></li>
          </ul>
          <div class="card mb-4" id="acountForm">
            <h5 class="card-header"><?%= title %>/h5>
            
            <hr class="my-0">
            <div class="card-body">
              <h3><% if (pagedata) { %><%= pagedata.title %> <% } %></h3>
    
              <br>
              <% if (pagedata) { %> <textarea id="editor-content" name="description"><%= pagedata.description %></textarea><% } %>
             
            </div>
          </div>
          <!-- View Form start -->
          <!-- Edit Form start -->
          <div class="card mb-4 " id="editForm">
            <h5 class="card-header">Edit</h5>
            <hr class="my-0">
            <div class="card-body">
              <form method="POST" action="/home" enctype="multipart/form-data">
                <div class="row">
                  <div class="mb-3 col-md-10">
                    <label for="firstName" class="form-label">Name :</label>
                    <input type="text" name="name" class="form-control"  required> </div>
                  <div class="mb-3 col-md-10">
                    <label for="lastName" class="form-label">Title :</label>
                    <input type="text" name="title" class="form-control"  required> </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Description :</label>
                    <textarea id="editor1" name="description" class="form-control"  required></textarea> </div>
                  <div class="mb-3 col-md-10">
                    <input type="hidden" name="oldimage">
                    <input type="file" name="userPhoto" class="form-control"  id="" placeholder=""  style="border:none;width:100%;" accept="image/*" required> </div>
              
                </div>
                <div class="mt-2">
                  <button type="submit" class="btn btn-primary me-2">Update</button>
                </div>
              </form>
            </div>
          
          </div>
            <!-- /Edit  end  -->
        </div>
      </div>
    </div>
    <!-- / Content -->
		<%- include('../../common/footer') %>
    <div class="content-backdrop fade"></div>
  </div>
</div>
<script>
  CKEDITOR.replace('editor-content');
</script>