<%- include('../../common/sidebar_common') %>
<div class="layout-page">
  <%- include('../../common/header_new') %>

  <div class="content-wrapper">
    <!-- <h5 class="card-header">  <div class="title-header"><h1 class="cmn-heading"><%= title.replace(/\w/, c => c.toUpperCase()) %></h1></div> -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
          <% if(msg) { %> <div  class="alert alert-success" id="alertmsg" ><span class="cmn-message"><%= msg %></span></div><% } %>
      </h4>
      <div class="row">
        <div class="col-md-12">
          <!-- Edit Form start -->
          <div class="card mb-4 ">
            <!-- <h5 class="card-header">Edit Form</h5> -->
            <hr class="my-0">
            <div class="card-body">
              <form method="POST" action="/addsetting" enctype="multipart/form-data">
                <div class="row">
                  <div class="mb-3 col-md-10">
                    <label for="firstName" class="form-label">Name :</label>
                    <input type="text" name="clientname" class="form-control" <% if(opt.name) { %> value="<%= opt.name %>" <% } %> required> 
                  </div>
                  <div class="mb-3 col-md-10">
                    <% if(opt.image) { %><img src="imgupload/<%= opt.image %>" style="width:155px;height: 100px;"/>  <% } %>
                    <input type="hidden" name="oldimage" <% if(opt.image) { %> value="<%= opt.image %>" <% } %>  >
                   <input type="file" name="userPhoto" id="" placeholder=""  style="border:none;width:100%;">
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="lastName" class="form-label">Email :</label>
                    <input type="text" name="clientemail"  class="form-control"  <% if(opt.email) { %> value="<%= opt.email %>" <% } %> >
                   </div>
                   <div class="mb-3 col-md-10">
                    <label for="lastName" class="form-label">Alternate Email :</label>
                    <input type="text" name="alternateemail"  class="form-control" <% if(opt.alternateemail) { %> value="<%= opt.alternateemail %>" <% } %> >
                   </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Phone :</label>
                    <input type="text" name="phone"   class="form-control" <% if(opt.phone) { %> value="<%= opt.phone %>" <% } %> >
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Alternate Phone :</label>
                    <input type="text" name="alternatephone"   class="form-control" <% if(opt.alternatephone) { %> value="<%= opt.alternatephone %>" <% } %> >
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Description :</label>
                    <textarea class="form-control" name="description"><% if(opt.description) {%><%= opt.description %><%} %></textarea>
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Address :</label>
                    <textarea class="form-control" name="address"><% if(opt.address) {%><%= opt.address %><%} %></textarea>
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Address 1:</label>
                    <textarea class="form-control" name="address_1"><% if(opt.address_1) {%><%= opt.address_1 %><%} %></textarea>
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Address 2:</label>
                    <textarea class="form-control" name="address_2"><% if(opt.address_2) {%><%= opt.address_2 %><%} %></textarea>
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Footer :</label>
                    <input type="text" class="form-control" name="footer" <% if(opt.footer) { %> value="<%= opt.footer %>" <% } %>  >
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Header google analytics :</label>
                    <textarea name="header_analytics" class="form-control" ><% if(opt.header_analytics) {%><%= opt.header_analytics %><%} %></textarea>
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Footer google analytics :</label>
                    <textarea name="footer_analytics" class="form-control" ><% if(opt.footer_analytics) {%><%= opt.footer_analytics %><%} %></textarea>
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Query :</label>
                    <input type="text" name="query"   class="form-control" <% if(opt.query) { %> value="<%= opt.query %>" <% } %> >
                  </div>
                  <div class="mb-3 col-md-10">
                    <label for="email" class="form-label">Button :</label>
                    <input type="text" name="button"   class="form-control" <% if(opt.button) { %> value="<%= opt.button %>" <% } %> >
                  </div>
              
                </div>
                <div class="mt-2">
                  <button type="submit" class="btn btn-primary me-2">Update</button>
                </div>
              </form>
            </div>
          
          </div>
            <!-- /Edit  end  -->
        </div>
      </div>
    </div>
    <!-- / Content -->
		<%- include('../../common/footer') %>
    <div class="content-backdrop fade"></div>
  </div>
</div>
<script>
  CKEDITOR.replace('editor-content');
</script>