<%- include('../../common/header') %>
<style>
td,th {
    padding: 11px;
}
</style>
<section class="center-wr" style="margin-top:77px;">
<% if(locals.error) {%>
    <div class="alert alert-danger" id="alertmsg" role="alert"><%= error %></div>
<%}%>
<div class="row page-wraper">
  <div class="col-md-12 full-content-wraper">
    <div class="title-header"><h1 class="cmn-heading"><%= title.replace(/\w/, c => c.toUpperCase()) %></h1></div>
    <% if(msg) { %> <div  class="alert alert-success" id="alertmsg" ><span class="cmn-message"><%= msg %></span></div><% } %>
    <div class="col-md-2 sidebar-menu">
    <%- include('../../common/sidebar_common') %>
    </div>
     <div class="col-md-5 content-wraper">
          <div id="socialcreateform">
            <form method="POST" action="/social" enctype="multipart/form-data">
                <label>Title:<input type="text" name="title"  required></label>
                <br>
                <label>Url:<input type="text" name="socialurl" required></label>
                <br>
                <label>Description:<br><textarea name="description"></textarea></label>
                <br>
                <input type="hidden" name="oldimage">
                <input type="file" name="userPhoto" id="userPhoto" onchange="readURL('create',this);" placeholder=""  style="border:none;width:100%;" accept="image/*">
                <img id="create-show-image" src="/images/user.png" alt="your image" width="100px" height="100px" />
                <br>
                <input type="submit" value="Submit">
            </form>
          </div>

          <div id="socialupdateform" style="display: none;">
            <form method="POST" action="/socialedit" enctype="multipart/form-data">
                <input type="hidden" name="editid" id="editid"/>
                <label>Title:<input type="text" name="title" id="title" required></label>
                <br>
                <label>Url:<input type="text" name="socialurl" id="socialurl" required></label>
                <br>
                <label>Description:<br><textarea name="description" id="description" ></textarea></label>
                <br>
                <input type="hidden" name="oldimage" id="oldfile">
                <input type="file" name="userPhoto" id="userPhotoupdate" onchange="readURL('update',this);" placeholder=""  style="border:none;width:100%;" accept="image/*">
                <img id="show-image" src="#" alt="your image" width="100px" height="100px"/>
                <br>
                <input type="submit" value="Update">
            </form>
          </div>
      </div>
     <div class="col-md-4 form-wraper">

      <table border="2" cellspacing="5" cellpadding="5">
      <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
      <% for(var person of pagedata) { %>
         <tr>
            <td> 
            <%= person.title %>
            </td>
            <td> 
            <%= person.socialurl %>
            </td>
            <td> 
            <a href="javascript:void(0)"  onclick="geteditform('<%= person._id %>')">Edit</a>
            </td> 
            <td> 
            <a href="/socialremove/<%= person._id %>" title="X" class="delete" onclick="return confirm('Are you sure you want to delete this item')">X</a>
            </td>
            </tr>
      <% } %>
      </table>

     </div>
   </div>
 </div>  

</section>
<!-- getsocialitem -->
<script>

 
  function geteditform(editid){
   
   $.ajax({
   url:"/getsocialitem/"+editid,
   method:"GET",
   success: function(response){
   
      $('#userPhoto').val("");
      $('#userPhotoupdate').val("");
      $('#socialcreateform').hide();
      $('#socialupdateform').show();
      $('#editid').val(editid);
      $('#title').val(response.title);
      $('#socialurl').val(response.socialurl);
      $('#description').val(response.description);
      $('#oldfile').val(response.image);
      if(response.image != ''){
       $('#show-image').attr('src', response.image).width(100).height(100); 
      }else{
       $('#show-image').attr('src', '/images/user.png').width(100).height(100); 
      }      
     }
   });
   return false;
   }

   function readURL(ftype,input) {
      if (input.files && input.files[0]) {
      var reader = new FileReader();
      //  alert(ftype);
      reader.onload = function (e) {
        $('#show-image').attr('src', e.target.result).width(100).height(100);
        $('#create-show-image').attr('src', e.target.result).width(100).height(100);
      };

      reader.readAsDataURL(input.files[0]);
      }
    }
  
  </script>