<style>
td,th {
    padding: 10px;
}
</style>
<%- include('../../common/header') %>
<% if(msg) { %> <%= msg %><% } %>
<section class="center-wr" style="margin-top:77px;">
<div class="row page-wraper">
  <div class="col-md-12 full-content-wraper">
    <div class="title-header"><h1 class="cmn-heading"><%= title.replace(/\w/, c => c.toUpperCase()) %></h1></div>
    <% if(msg) { %> <div  class="alert alert-success" id="alertmsg" ><span class="cmn-message"><%= msg %></span></div><% } %>
        <span><button class="cmn-btn btn-show-hide"><a href="javascript:void(0);" id="startprojectbtn">Add</a></button></sapn>
    <div class="col-md-2  sidebar-menu">
    <%- include('../../common/sidebar_common') %>
    </div>
     <div class="col-md-5 content-wraper"> 
    <h1><% if(pagedata){ %><%= pagedata.name %> <% } %></h1>
    <br>
    <h3><% if(pagedata){ %><%= pagedata.title %> <% } %></h3>
    <br>
    <h3><% if(pagedata){ %><%= pagedata.btnname %> <% } %></h3>
    <br>
   <% if(pagedata){ %> <textarea id="editor1" name="description" rows="10" cols="80"><%= pagedata.description %></textarea><% } %>
</div>
    
<div class="col-md-4 form-wraper" style="display: none;" id="form-wrapper-form">
  <div id="startprojectcreateform" style="display: none;">
  <form method="POST" action="/addstartpjt" enctype="multipart/form-data">
    <label>Name:<input type="text" name="name" required></label>
    <br>
    <label>Title:<input type="text" name="title" required></label>
    <br>
    <br>
    <label>Button Name:<input type="text" name="btnname" required></label>
    <br>
    <label>Description:<br><textarea id="editor-show" name="description" rows="10" cols="80"></textarea></label>
    <br>
     <input type="hidden" name="oldimage">
    <input type="file" name="userPhoto" id="" placeholder=""  style="border:none;width:100%;" accept="image/*" multiple>
    <br>
    <input type="submit" value="Submit">
  </form>
   </div>
  </div>

  </div>
</div> 
</section>
<script>
  CKEDITOR.replace('editor-show');
</script>
<script>
  $('#startprojectbtn').click(function(){
    
    $('#form-wrapper-form').toggle();
    $('#startprojectcreateform').toggle();
    $('#userPhoto').val("");
    
})
</script>