<%- include('../../common/header') %>
<style>
td,th {
  padding: 11px;
}
</style>
<section class="center-wr" style="margin-top:77px;">
<div class="row page-wraper">
  <div class="col-md-12 full-content-wraper">
    <div class="title-header"><h1 class="cmn-heading"><% if(title) { %> <%= title.replace(/\w/, c => c.toUpperCase()) %><% } %></h1></div>
    <% if(msg) { %> <div  class="alert alert-success" id="alertmsg" ><span class="cmn-message"><%= msg %></span></div><% } %>
    <div class="col-md-2 sidebar-menu">
    <%- include('../../common/sidebar_common') %>
    </div>
     <div class="col-md-3 content-wraper"> 

      <form method="POST" action="/backend-menu">
              <label>Display Title:<input type="text" name="title"  required></label>
              <br>
              <label>Url Slug:<input type="text" name="urlslug"  required></label>
              <br>
              <label>Url:<input type="text" name="menurl" required></label>
              <br>
              <label>Description:<br><textarea name="description"></textarea></label>
              <br>
              <label>Index:<input type="number" name="index" required></label>
              <br>               
               <br>
              <label>Parent Menu: 
              <select id="volume" name="parentmenu">
                <option value="1">Home</option>
                <option value="2">Setting</option>
                <option value="3">About Us</option>
              </select>
              </label>
        <br>
        <br>
              <input type="submit" value="Submit">
      </form>
    </div>
    <div class="col-md-6 form-wraper">        
               
        <table border="2" cellspacing="5" cellpadding="5">
        <tr>
        <th>ID</th>
        <th>Slug</th>
        <th>Display Name</th>
        <th>Index</th>
        <th>Url</th>
        <!-- <th>Edit</th> -->
        <th>Delete</th>
        </tr>
        <%
        if(pagedata.length > 0){
         for(var person of pagedata) { %>
           <tr><td> 
              <%= person._id %>
              </td>
              <td> 
              <%= person.urlslug %>
              </td>
              <td> 
              <%= person.title %>
              </td>
              <td> 
              <%= person.index %>
              </td>
              <td> 
              <%= person.url %>
              </td>
              <!-- <td>  -->
              <!-- <a href="#">Edit</a> -->
              <!-- </td>  -->
              <td> 
              <a href="/bothmenuremove/<%= person._id %>" onclick="return confirm('Are you sure you want to delete this item')">X</a>
              </td>
              </tr>
        <% } 
         }else{
        %>
        <tr><td style="color:#ff0000" colspan="2"><%= 'Not Found Data' %></td></tr>
        <% 
        }
        %>%>
        </table>
     </div>
  </div>
</div>   
</section>
