<nav class="menu-wrp">
  <ul class="menu-list sidebar">
    <li><a class="<% if(title.toLowerCase() == 'home' || title.toLowerCase() == 'our projects' || title.toLowerCase() == 'expertise' || title.toLowerCase() == 'our process' || title.toLowerCase() == 'client project' || title.toLowerCase() == 'start project' || title.toLowerCase() == 'digital legacy' || title.toLowerCase() == 'industries we serve'  || title.toLowerCase() == 'certification & recognition') { %> <%= 'active' %> <% } %>" href="/home">Home</a>
        <ul class="sub-menu">
           <% for (var headermenus of headermenu) {  %>
          <li ><a href="/<%= headermenus.urlslug %>"><% if(headermenus) { %><%= headermenus.title.replace(/\w/, c => c.toUpperCase()) %><% } %></a></li>
          <% } %>
        </ul>
    </li>
    <li><a class="<% if(title.toLowerCase() == 'setting' || title.toLowerCase() == 'frontend menu' || title.toLowerCase() == 'backend menu' || title.toLowerCase() == 'social media') { %> <%= 'active' %> <% } %>" href="/setting">Setting</a>
      <ul class="sub-menu">
        <li><a href="/frontend-menu">Frontend Menu</a></li>
        <li><a href="/backend-menu">Backend Menu</a></li>
           <% for (var settingmenus of settingmenu) {  %>
          <li><a href="/<%= settingmenus.urlslug %>"><% if(settingmenus) { %><%= settingmenus.title.replace(/\w/, c => c.toUpperCase()) %><% } %></a></li>
          <% } %>
        </ul>
    </li> 
    <li><a class="<% if(title.toLowerCase() == 'about us') { %> <%= 'active' %> <% } %>" href="/aboutus">About Us</a>
        <ul class="sub-menu">
          <li><a href="/aboutus">About us</a></li>
        </ul>
    </li>
     <li><a class="<% if(title.toLowerCase() == 'portfolio') { %> <%= 'active' %> <% } %>" href="/portfolio">Portfolio</a></li>
    <li><a class="<% if(title.toLowerCase() == 'contact') { %> <%= 'active' %> <% } %>" href="/contact">Contact Us</a></li> 
  </ul>
</nav>