<style>
td,th {
    padding: 10px;
}
</style>
<%- include('../../common/header') %>
<section class="center-wr" style="margin-top:77px;">
<div class="row page-wraper">
  <div class="col-md-12 full-content-wraper">
    <div class="title-header"><h1 class="cmn-heading"><%= title.replace(/\w/, c => c.toUpperCase()) %></h1></div>
    <% if(msg) { %> <div  class="alert alert-success" id="alertmsg" ><span class="cmn-message"><%= msg %></span></div><% } %>
    <div class="col-md-2 sidebar-menu">
    <%- include('../../common/sidebar_common') %>
    </div>
    <div class="col-md-5 content-wraper"> 
    <form method="POST" action="/contact">
        <label>Name:<input type="text" name="clientname" placeholder="name" required></label>
        <br>
        <label>Title:<input type="text" name="title" placeholder="title" required></label>
        <br>
        <label>Form:<br><textarea id="editor1" name="description" placeholder="Enter value text is input type and good is input name (text:good,email:email)"></textarea></label>
        Hint:Enter value text is input type and good is input name (text:good,email:email)
        <br>
         <input type="hidden" name="oldimage">
        <input type="file" name="userPhoto" id=""  style="border:none;width:100%;" accept="image/*">
        <br>
        <input type="submit" value="Submit">
    </form>

  </div>
  <div class="col-md-4 form-wraper">
        <table border="2" cellspacing="5" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Form Name</th>
                <th>Title</th>
                <th>Form Attribute</th>
            </tr>
        <% for(var person of allcontactform) { %>

            <tr>
                <td><%= person._id %></td>
                <td><%= person.formname %></td>
                <td><%= person.title %></td>
                <td>
                <table>
                  
                <% for(var formatt of person.form) { %>  
                   <tr style="background-color: unset; color: unset;">
                    <td><%= formatt.type %>:<%= formatt.name %><br></td>
                   </tr>
                <% } %>
                 
                </table>
                </td>
            </tr>    
        <% } %>
      </table>
      </div>
  </div>
</div>  
</section>
